article{
  background-color: $color-background-highlighted;
  padding: rhythm(2) 0;
  margin: rhythm(2) 0;
  margin-bottom: 33px;
  position: relative;

  &:first-of-type, 
  &:last-of-type {
    margin: 0;
  }

  > .content {
    @include container;
  }

  .article.title{
    @include adjust-font-size-to(24px);
    margin-bottom: 28px;
    &, a {
      text-decoration: none;
      color: $color-article-title;
    }
  }

  .article.date {
    @include adjust-font-size-to(12px);
    margin-bottom: rhythm(1);
    border-right: 4px solid $color-main;
    padding-right: 12px;
    text-align: right;
    line-height: 14px;
    color: $color-gray03;
  }

  .more.link {
    display: block;
    margin-top: 30px;
    width: 47px;
    height: 19px;
    line-height: 19px;
    background-color: $color-background;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $color-gray03;
    }

    .dot {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: $color-background-highlighted;
      border-radius: 50%;
      vertical-align: middle;
    }
  }

  .article.comments {
    margin-top: rhythm(2);
  }

  .article.content {
    text-align: justify;

    p, li {
      color: $color-blog-body;
    }

    img, video {
      max-width: 100%;
      height: auto;
      border: 6px solid darken($color-gray04, 2.5%);
      @include border-radius(2px);
    }

    blockquote{
      padding: 5px 15px;
      margin-top: 1px;
      & > p:first-of-type{
        margin-top: 0;
      }
    }
  }
}
