.blog.footer {
  min-height: 100px;
  padding-top: 40px;
}

.blog.social.icons {
  text-align: center;

  .badge {
    display: inline-block;
    margin: 0 4px;
    width: 28px;
    height: 28px;
  }

  .twitter {
    @include background(inline-image('badge_twitter.svg'));
    background-size: cover;
  }

  .github {
    @include background(inline-image('badge_github.svg'));
    background-size: cover;
  }
}
  
