.blog.page {
  background-color: $color-background-highlighted;

  > .content {
    @include container;
  }
}

.projects {
  @include clearfix;
}

.projects h4 {
  @include adjust-font-size-to(24px);
  color: #838383;
}

@media only screen and (min-width: 400px) {
  .project-container {
    width: 50%;
    float: left;
  }
}

@media only screen and (min-width: 600px) {
  .project-container {
    width: 33%;
  }
}

.projects-list {
  @include trailer(1);
}
