.projects {
  @include columns(2);
  list-style: none;
  margin-bottom: rhythm(2);

  li::before {
    display: inline-block;
    content: "*";
    color: $color-gray02;
    width: 24px;
    font-variant: small-caps;
    font-size: 0.7em;
  }

  a {
    color: $color-gray02;
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    @include columns(1);
  }
}
