$color-background: #F8F8F8 !default;
$color-background-highlighted: #FFF !default;
$color-main: #816767 !default;

$color-gray01: #545454 !default;
$color-gray02: #727272 !default;
$color-gray03: #7C7C7C !default;
$color-gray04: #FCFCFC !default;

$color-article-title: $color-gray02 !default;
$color-blog-body: $color-gray01 !default;
$color-link: #E4A45F !default;

// Unused

$color-blog-title: #1abc9c !default;
$color-blog-title-h: #1dd2af !default;
$color-blog-subtitle: #34495e !default;

$color-archieve-title: #34495e !default;
$color-tag: #3498db !default;

$color-gray05: #fff !default;
