$font-default: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-blog-title: $font-default;
$font-blog-subtitle: $font-default;
$font-mono: monaco, monospace;

$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: true;
$round-to-nearest-half-line: true;
$min-line-padding: 3px;

@include establish-baseline(16px);

/* Asynchronous typekit loading */
html.wf-loading {
  body {
    &, p, a, input, time, td, h1, h2, h3, h4, h5, h6 {
      color: rgba(0, 0, 0, 0)!important;
    }
  }
}

body {
  font-family: $font-default;
  font-weight: 300;
}

a {
  color:$color-link;
  -webkit-transition:border .25s linear;
  -moz-transition:border .25s linear;
  -ms-transition:border .25s linear;
  transition:border .25s linear;
  outline:none;
}

a:hover {
    text-decoration:none;
}

h1 {
  @include adjust-font-size-to(24px);
}

h2 {
  @include adjust-font-size-to(18px);
}

h3 {
  @include adjust-font-size-to(16px);
}

em {
  font-style: italic;
}
