$font-default: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-blog-title: $font-default;
$font-blog-subtitle: $font-default;
$font-mono: monaco, monospace;
