<div class="content">
  <header class="article header">
    <div class="article date">
      {% include post/date.html %}{{ time }}
    </div>

    <h2 class="article title">
      {% if index %}<a href="{{ root_url }}{{ post.url }}">{% endif %}
        {% if site.titlecase %}{{ post.title | titlecase }}
        {% else %}{{ post.title }}
        {% endif %}
      </a>
    </h2>
  </header>

  <div class="article content">
    {% if index %}
      {{ content | excerpt }}
      {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
      {% if excerpted == 'true' %}
        <a href="{{ root_url }}{{ post.url }}" class="more link">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </a>
      {% endif %}
    {% else %}{{ content }}
    {% endif %}
  </div>
</div>
