---
layout: page
---

{% assign index = true %}

<ul class="projects">
  <li class="haskell"><a href="https://github.com/nathankot/wsproxy">wsproxy</a></li>
  <li class="javascript"><a href="https://www.wed.is">wed.is</a></li>
  <li class="ruby"><a href="http://itunes.com/apps/wedis">wed.is app</a></li>
  <li class="javascript"><a href="http://getblanket.com">getblanket.com</a></li>
  <li class="ruby"><a href="https://github.com/nathankot/motion-bindable">motion-bindable</a></li>
  <li class="ruby"><a href="https://github.com/nathankot/rssly">rssly</a></li>
  <li class="php"><a href="http://neighbourly.co.nz">neighbourly.co.nz</a></li>
  <li class="php"><a href="http://grabone.co.nz">grabone.co.nz</a></li>
  <li class="php"><a href="http://sellyourhobby.com">sellyourhobby.com</a></li>
  <li class="other"><a href="https://github.com/nathankot/dotfiles">dotfiles</a></li>
  <li class="stylus other"><a href="https://github.com/nathankot/Karma.gs">karma.gs</a></li>
  <li class="lua"><a href="https://github.com/nathankot/mjolnir.tiling">mjolnir.tiling</a></li>
</ul>

<div class="blog posts list">
  <div class="content">
    {% for post in site.posts reverse %}
      {% include archive_post.html %}
    {% endfor %}
  </div>
</div>
